body {
  background-color: darkgrey;
}

header nav {
  text-align: center;
  background-color: black;
  height: 40px;
  /*vertical-align: middle;*/
  padding-top: 2%;
}

header nav a {
  margin: 0 4%;
  color: grey;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  color: White;
}

section {
  background-image: linear-gradient( 35deg, black 0%, white 50%, black 100% );
  margin-top: 10%;
  padding-bottom: 20px;
}

h1, h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td, th {
  border: 1px solid black;
}

caption, td, th {
  padding: 15px 15px;
}

footer {
  background-color: black;
  text-align: center;
  height: 50px;
}

footer a {
  color: grey;
}

i {
  margin: 0 20px;
  padding-top: 10px;
}

/*---------------------------------*/

form {
  /*text-align: center;*/
  display: inline-block;
  /*background-color: blue;*/
  width: 60%;
  text-align: right;
}

input {
  width: 30%;
}

.email:required {
  background-color: red;
}
